.form-control{
    margin-bottom: 30px;
}
.active{
    font-size: 20px;
    font-weight: bold;
    color: $text-color-light;

    &:hover{
        color:lighten($color:$text-color-light, $amount: 20%)
    }
    
}
    
    input{
        border:1px solid gray;
        padding: 16px 10px;
        border-radius: 5px;
        width: 66%;
        font-size: 14px;

    }

    .my-profile-button{
        background: #188873;
        color: white;
        border-radius: 5px;
        padding: 15px 20px;
        font-size: 10px;

        &:hover{
            background: lighten($color:#188873, $amount: 15%);
        }
    }
