.alert{
    padding: 15px;
    margin-bottom: 20px;
    border:1px solid transparent;
    border-radius:4px;

}

.alert-danger{
    color:black;
    background-color: rgb(228, 180, 180);
    border-color: rgb(97, 16, 16);


}

.alert-success{
   color:green;
   border-color: rgb(96, 175, 126);
   background-color: 
   rgb(127, 172, 137)
}